**/__pycache__
**/*.py[cod]
**/*$py.class

.venv
venv
env
ENV

.git
.gitignore
.github

.env
.env.*

.idea
.vscode
.DS_Store

*.md
CONTRIBUTING.md
README.md

.python-version
docker-compose.yaml
docker-compose.yml
Dockerfile
.dockerignore

images
tasks
tests
docs

*.log
*.sqlite3
.pytest_cache
.mypy_cache
.ruff_cache
.ipynb_checkpoints
*.ipynb
