OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-ada-002
OPENAI_API_KEY=<your-openai-api-key>
QDRANT_CONNECTION_URL=<your-qdrant-url>
QDRANT_API_KEY=<your-qdrant-api-key>
LANGFUSE_SECRET_KEY=<your-langfuse-secret-key>
LANGFUSE_PUBLIC_KEY=<your-langfuse-public-key>
LANGFUSE_HOST=<your-langfuse-host>
REDIS_CONNECTION_STRING=<your-redis-connection-string>
REDIS_TTL_S=300
LITELLM_MODEL=openai-gpt-5.1
LITELLM_EMBEDDING_MODEL=openai-text-embedding-ada-002
LITELLM_BASEURL=http://localhost:4000/
LITELLM_API_KEY=<your-litellm-api-key>
