langchain==0.3.28
langchain-core==0.3.83
langchain-openai==0.3.35
langchain-community==0.3.31
langchain-qdrant==0.2.1
langchain-redis==0.2.4
python-dotenv==1.2.2
langfuse==2.60.8
qdrant-client==1.17.1
requests==2.32.5
nemoguardrails==0.21.0
backoff==2.2.1
pyyaml==6.0.3
fastapi==0.135.1
uvicorn==0.42.0
gunicorn==23.0.0
