aiohappyeyeballs==2.6.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
aiohttp-retry==2.9.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
aiohttp==3.13.4 ; python_version >= "3.12" and python_full_version < "3.14.0"
aiosignal==1.4.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
annotated-doc==0.0.4 ; python_version >= "3.12" and python_full_version < "3.14.0"
annotated-types==0.7.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
annoy==1.17.3 ; python_version >= "3.12" and python_full_version < "3.14.0"
anyio==4.13.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
attrs==26.1.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
backoff==2.2.1 ; python_version >= "3.12" and python_version < "3.14"
certifi==2025.11.12 ; python_version >= "3.12" and python_full_version < "3.14.0"
charset-normalizer==3.4.6 ; python_version >= "3.12" and python_full_version < "3.14.0"
click==8.3.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
colorama==0.4.6 ; python_version >= "3.12" and python_full_version < "3.14.0" and (sys_platform == "win32" or platform_system == "Windows")
dataclasses-json==0.6.7 ; python_version >= "3.12" and python_version < "3.14"
distro==1.9.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
dnspython==2.8.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
email-validator==2.3.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
fastapi-cli==0.0.24 ; python_version >= "3.12" and python_full_version < "3.14.0"
fastapi-cloud-cli==0.15.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
fastapi==0.135.2 ; python_version >= "3.12" and python_full_version < "3.14.0"
fastar==0.9.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
fastembed==0.8.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
filelock==3.25.2 ; python_version >= "3.12" and python_full_version < "3.14.0"
flatbuffers==25.12.19 ; python_version >= "3.12" and python_full_version < "3.14.0"
frozenlist==1.8.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
fsspec==2026.3.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
greenlet==3.3.2 ; python_version >= "3.12" and python_full_version < "3.14.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpcio==1.80.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
h11==0.16.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
h2==4.3.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
hf-xet==1.2.0 ; python_version >= "3.12" and python_full_version < "3.14.0" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "arm64" or platform_machine == "aarch64")
hpack==4.1.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
httpcore==1.0.9 ; python_version >= "3.12" and python_full_version < "3.14.0"
httptools==0.7.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
httpx-sse==0.4.3 ; python_version >= "3.12" and python_full_version < "3.14.0"
httpx==0.28.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
huggingface-hub==1.5.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
hyperframe==6.1.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
idna==3.11 ; python_version >= "3.12" and python_full_version < "3.14.0"
itsdangerous==2.2.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
jinja2==3.1.6 ; python_version >= "3.12" and python_full_version < "3.14.0"
jiter==0.13.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
jsonpatch==1.33 ; python_version >= "3.12" and python_full_version < "3.14.0"
jsonpath-ng==1.8.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
jsonpointer==3.1.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
langchain-community==0.3.31 ; python_version >= "3.12" and python_full_version < "3.14.0"
langchain-core==0.3.83 ; python_version >= "3.12" and python_full_version < "3.14.0"
langchain-openai==0.3.35 ; python_version >= "3.12" and python_full_version < "3.14.0"
langchain-qdrant==0.2.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
langchain-redis==0.2.4 ; python_version >= "3.12" and python_version < "3.14"
langchain-text-splitters==0.3.11 ; python_version >= "3.12" and python_full_version < "3.14.0"
langchain==0.3.28 ; python_version >= "3.12" and python_full_version < "3.14.0"
langfuse==2.60.8 ; python_version >= "3.12" and python_version < "3.14"
langsmith==0.7.22 ; python_version >= "3.12" and python_full_version < "3.14.0"
lark==1.3.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
loguru==0.7.3 ; python_version >= "3.12" and python_version < "3.14"
markdown-it-py==4.0.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
markupsafe==3.0.3 ; python_version >= "3.12" and python_full_version < "3.14.0"
marshmallow==3.26.2 ; python_version >= "3.12" and python_full_version < "3.14.0"
mdurl==0.1.2 ; python_version >= "3.12" and python_full_version < "3.14.0"
ml-dtypes==0.5.4 ; python_version >= "3.12" and python_full_version < "3.14.0"
mmh3==5.2.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
mpmath==1.3.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
multidict==6.7.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
mypy-extensions==1.1.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
nemoguardrails==0.21.0 ; python_version >= "3.12" and python_version < "3.14"
nest-asyncio==1.6.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
numpy==2.4.4 ; python_version >= "3.12" and python_full_version < "3.14.0"
onnxruntime==1.24.4 ; python_version >= "3.12" and python_full_version < "3.14.0"
openai==2.30.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
orjson==3.11.7 ; python_version >= "3.12" and python_full_version < "3.14.0" and platform_python_implementation != "PyPy"
packaging==24.2 ; python_version >= "3.12" and python_full_version < "3.14.0"
pandas==2.3.3 ; python_version >= "3.12" and python_full_version < "3.14.0"
pillow==12.1.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
portalocker==3.2.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
prompt-toolkit==3.0.52 ; python_version >= "3.12" and python_full_version < "3.14.0"
propcache==0.4.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
protobuf==6.33.6 ; python_version >= "3.12" and python_full_version < "3.14.0"
py-rust-stemmers==0.1.5 ; python_version >= "3.12" and python_full_version < "3.14.0"
pydantic-core==2.41.5 ; python_version >= "3.12" and python_full_version < "3.14.0"
pydantic-extra-types==2.11.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
pydantic-settings==2.13.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
pydantic==2.12.5 ; python_version >= "3.12" and python_full_version < "3.14.0"
pygments==2.20.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_full_version < "3.14.0"
python-dotenv==1.2.2 ; python_version >= "3.12" and python_full_version < "3.14.0"
python-multipart==0.0.22 ; python_version >= "3.12" and python_full_version < "3.14.0"
python-ulid==3.1.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
pytz==2026.1.post1 ; python_version >= "3.12" and python_full_version < "3.14.0"
pywin32==311 ; python_version >= "3.12" and python_full_version < "3.14.0" and platform_system == "Windows"
pyyaml==6.0.3 ; python_version >= "3.12" and python_full_version < "3.14.0"
qdrant-client==1.17.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
redis==7.4.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
redisvl==0.16.0 ; python_version >= "3.12" and python_version < "3.14"
regex==2026.3.32 ; python_version >= "3.12" and python_full_version < "3.14.0"
requests-toolbelt==1.0.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
requests==2.33.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
rich-toolkit==0.19.7 ; python_version >= "3.12" and python_full_version < "3.14.0"
rich==14.3.3 ; python_version >= "3.12" and python_full_version < "3.14.0"
rignore==0.7.6 ; python_version >= "3.12" and python_full_version < "3.14.0"
sentry-sdk==2.56.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
shellingham==1.5.4 ; python_version >= "3.12" and python_full_version < "3.14.0"
simpleeval==1.0.7 ; python_version >= "3.12" and python_full_version < "3.14.0"
six==1.17.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
sniffio==1.3.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
sqlalchemy==2.0.48 ; python_version >= "3.12" and python_full_version < "3.14.0"
starlette==1.0.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
sympy==1.14.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
tenacity==9.1.4 ; python_version >= "3.12" and python_full_version < "3.14.0"
tiktoken==0.12.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
tokenizers==0.22.2 ; python_version >= "3.12" and python_full_version < "3.14.0"
tqdm==4.67.3 ; python_version >= "3.12" and python_full_version < "3.14.0"
typer==0.24.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
typing-extensions==4.15.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
typing-inspect==0.9.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
typing-inspection==0.4.2 ; python_version >= "3.12" and python_full_version < "3.14.0"
tzdata==2025.3 ; python_version >= "3.12" and python_full_version < "3.14.0"
urllib3==2.6.3 ; python_version >= "3.12" and python_full_version < "3.14.0"
uuid-utils==0.14.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
uvicorn==0.42.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
uvloop==0.22.1 ; python_version >= "3.12" and python_full_version < "3.14.0" and sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
watchdog==6.0.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
watchfiles==1.1.1 ; python_version >= "3.12" and python_full_version < "3.14.0"
wcwidth==0.6.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
websockets==16.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
win32-setctime==1.2.0 ; python_version >= "3.12" and python_full_version < "3.14.0" and sys_platform == "win32"
wrapt==1.17.3 ; python_version >= "3.12" and python_full_version < "3.14.0"
xxhash==3.6.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
yarl==1.23.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
zstandard==0.25.0 ; python_version >= "3.12" and python_full_version < "3.14.0"
